<!-- Check if there are posts -->
{{#if posts.length}}
  <!-- Loop over each post -->
  {{#each posts}}
    <div class="post">
      <h2>{{title}}</h2>
      <p class="post-meta">
        <span>Posted by {{user.userName}}</span>
      </p>
      <p>{{{description}}}</p>
    </div>
  {{/each}}
{{else}}
  <p>No posts found.</p>
{{/if}}
